.ResponsiveContainer {
  margin: 0 auto;
  clear: both;
  float: none;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  @media screen and (min-width: 601px) and (max-width: 1280px) {
    width: calc(100% - 80px);
  }
  @media screen and (min-width: 1281px) {
    width: 1200px;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
