.Layout {
  height: 100%;
  min-height: 100%;

  header {
    height: 85px;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.1);

    .navlink {
      text-decoration: none;
      height: 100%;
      background: transparent;
      line-height: 65px;
      padding: 0 15px 0 27px;
      font-size: 14px;
      cursor: pointer;

      &.active, &:active, &:hover {
        color: #951617;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  main {
    min-height: calc(100% - 130px);
  }
  footer {
    padding: 8px 24px;
    background-color: rgba(0,0,0,0.1);
    line-height: 28px;
  }

}
