

@font-face {
  font-family: 'galano_grotesque_alt';
  src: url('./fonts/galano_grotesque_alt_bold.woff2') format('woff2'),
  url('./fonts/galano_grotesque_alt_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'galano_grotesque_alt';
  src: url('./fonts/galano_grotesque_alt_italic.woff2') format('woff2'),
  url('./fonts/galano_grotesque_alt_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}
@font-face {
  font-family: 'galano_grotesque_alt';
  src: url('./fonts/galano_grotesque_alt_light.woff2') format('woff2'),
  url('./fonts/galano_grotesque_alt_light.woff') format('woff');
  font-weight: light;
  font-style: normal;

}
@font-face {
  font-family: 'galano_grotesque_alt';
  src: url('./fonts/galano_grotesque_alt.woff2') format('woff2'),
  url('./fonts/galano_grotesque_alt.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html, body {
  height: 100%;
}

html, body, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: "galano_grotesque_alt", "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
  color: #666666;
}

#root, .App {
  height: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}
