@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

//@import '../../assets/fonts/galano_grotesque_alt.woff';

.IntroPage {
}

@font-face {
    font-family: fontGalano;
    src: url("../../assets/fonts/galano_grotesque_alt.woff")
}



#hero {
    background-color: #4d4e54;
    margin-top: 30px;
}

#hero p {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0em;
}

#question {
    background-color: #4d4e54;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#question p {
    font-size: 1em;
    color: white;
    text-align: left;
    padding-top: 10px;
}

#answer1, #answer2 {
    padding: 20px;
    font-size: 1em;
    color: #2e2f30;
    text-align: center;
}



$theme-colors: (
    "primary": #c34dc9
);



@import "~bootstrap/scss/bootstrap";

